body{
    background-color: rgb(44, 5, 80);
}
h1,h2{
    color: black(207, 187, 187, 0.253);
}
form{
    border-style: solid;
    width: 60%;
    height: 300px;
    margin: auto;
    background-color: darkgray;
    border-radius: 30px;
}
#boton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    }
button{
    background-color: lightgray;
    border-radius: 30px;
    width:150px;
    height:100px;
    font-weight:bold;
}
p{
    font-size: 20px;
}
